
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% if !(current_user.facebook_uid && current_user.twitter_uid && current_user.instagram_uid) %>
          <h3>Authorize your accounts.</h3>
          <% if current_user.facebook_uid %>
          <%= link_to 'facebook', '/auth/facebook', {class: "btn btn-default btn-lg disabled"}%>
          <% else %>
          <%= link_to 'facebook', '/auth/facebook', {class: "btn btn-default btn-lg"}%>
          <% end %>
          <% if current_user.twitter_uid %>
          <%= link_to 'twitter', '/auth/twitter', {class: "btn btn-default btn-lg disabled"}%>
          <% else %>
          <%= link_to 'twitter', '/auth/twitter', {class: "btn btn-default btn-lg"}%>
          <% end %>

          <% if current_user.instagram_uid %>
          <%= link_to 'instagram', '/auth/instagram', {class: "btn btn-default btn-lg disabled"}%>
          <% else %>
          <%= link_to 'instagram', '/auth/instagram', {class: "btn btn-default btn-lg"}%>
          <% end %>
          <% end %>
          <br><br><br><br>

          <h1>add friends.</h1>
          <div class="row">
            <%= form_for Person.new  do |f| %>
            <div class="form-group col-xs-4">    
              <%= f.text_field :facebook_handle, placeholder: "facebook", class: 'form-control input-lg'%>
            </div>  
            <div class="form-group col-xs-4">
              <%= f.text_field :twitter_handle, placeholder: "twitter handle", class: 'form-control input-lg'%>
            </div>
            <div class="form-group col-xs-4">
              <%= f.text_field :instagram_handle, placeholder: "instagram", class: 'form-control input-lg'%>
              <br><br>
            </div>
            <%= f.submit "ADD FRIENDS", {class: 'btn btn-default'}%>
          </div>
          <br><br><br><br>
          <h2><%= "remove friends." if !@follows.empty? %></h2>
          <div class "row">
            <%@follows.each do |follow| %>
            <% person = Person.find(follow.followee_id) %>
            
              <%= link_to 'x', follow_path(follow), method: :delete %>
              <%= person.name || person.facebook_handle || person.twitter_handle|| person.instagram_handle %>
              &nbsp;&nbsp;&nbsp;

            <%end %>
          </div>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
  
</header>

