<header class="content">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <% if @instagram_posts %>
              <h2>Latest instagram posts: </h2>
              <% @instagram_posts.each do |ig_post|%>
                <a href="<%=ig_post[:uri] %>"> <div class="node">
                  @<%= ig_post[:handle] %> <br>
                  <%= image_tag(ig_post[:photo_uri]) %> <br>
                  <h3><%= ig_post[:text] %> </h3> <br>
                </div></a>
              <% end %> 
              <br>    
            <% end %>

						<% if @tweets %>
							<h2>Latest tweets: </h2>
							<% @tweets.each do |tweet|%>
								<a href="<%=tweet[:uri] %>"> <div class="node">
									@<%= tweet[:handle] %> <br>
									<%= image_tag(tweet[:photo_uri]) %> <br>
									<h3><%= tweet[:text] %> </h3> <br>
								</div></a>
							<% end %>	
							<br>		
						<% end %>
    
            <% if @facebook_posts %>
              <h2>Latest facebook posts: </h2>
              <% @facebook_posts.each do |fb_post|%>
                <a href="<%=fb_post[:uri] %>"> <div class="node">
                  @<%= fb_post[:handle] %> <br>
                  <%= image_tag(fb_post[:photo_uri]) %> <br>
                  <h3><%= fb_post[:text] %> </h3> <br>
                </div></a>
              <% end %> 
              <br>    
            <% end %>


        </div>
      </div>
    </div>
  </div>
</header>