<header class="content">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <% if @posts %>
          <h2>Latest grams: </h2>
          <% @posts.each do |post| %>
          <p><img src="<%=post%>" alt=""></p>
          <%end%>
          <% end %>

          <% if @tweets %>
          <h2>Latest tweets: </h2>
          <% @tweets.each do |tweet| %>
          <p><%= image_tag "twitter.png", size: "20" %><%= tweet.text %> <b>timestamp :</b> <%= tweet.created_at %> </p>
          <% end  %>
          <% end %>

          <% if @facebook_posts %>
          <h2>Latest Facebook Posts</h2>
          <% @facebook_posts.each.with_index do |post,i| %>

          <%= render 'embedded_fb_post', post: post, i: i %>
          
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>



