<header class="content">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

						<% if @posts %>
							<h2>Latest grams: </h2>
							<% @posts.each do |post| %>
							<p><img src="<%=post%>" alt=""></p>
							<%end%>
						<% end %>

						<% if @tweets %>
							<h2>Latest tweets: </h2>
							<% @tweets.each do |tweet_array| %>
								<%tweet_array.each do |tweet|  %>
									<p><%= image_tag "twitter.png", size: "20" %><%= tweet.user.screen_name %><br> <%= tweet.text %></p>
								<% end  %>
							<% end  %>
						<% end %>

						<% if @facebook_posts %>
							<h2>Latest Facebook Posts</h2>
							<% @facebook_posts.each do |post| %>
							<p><a href=<%= post %> %><%= post %></a></p>
							<% end %>
						<% end %>

                    </div>
                </div>
            </div>
        </div>
    </header>



