<!DOCTYPE html>
<html>
<head>
  <title>Knit</title>
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="fb-root"></div>

<!-- including the facebook js stuff for embedded posts... i will likely remove this later -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1690839031149131";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <%= link_to 'knit', root_path, {class: "navbar-brand page-scroll"} %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a> 
                    </li>
                    <li>
                    <% if current_user %>
                    <%= link_to 'my feed', user_path(current_user), {class: "page-scroll"} %>
                    </li>
                    <li>
                    <%= link_to 'add friends', edit_user_path(current_user), {class: "page-scroll"} %>
                    </li>
                    <% end %>
                    <% if current_user %>
                    <li><a href="/logout">logout</a></li>
                    <% else %>
                    <li><a href="#">log in with:</a></li>
                    <li><%= link_to 'facebook', '/auth/facebook'%></li>
                    <li><a href="#">|</a></li>
                    <li><%= link_to 'twitter', '/auth/twitter'%></li>
                    <li><a href="#">|</a></li>
                    <li><%= link_to 'instagram', '/auth/instagram'%></li>
                    <% end %>
                    <%= notice %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  <%= yield %>

<footer>
        <div class="container text-center">
            <p>Copyright &copy; knit 2015</p>
        </div>
    </footer>
</body>
</html>
